<div class="relative w-full h-screen">
    <video
        autoplay muted loop playsinline preload="auto"
        class="absolute inset-0 w-full h-full object-cover opacity-50 -z-10">
        <source src="/runtime/videos/barVideo.mp4" type="video/mp4">
    </video>

    <div class="flex flex-col gap-[25px] justify-center items-center h-full">

        <button class="w-[200px] h-[200px] 
                        bg-[rgba(0,0,135,0.2)] hover:bg-blue-600 
                        rounded-[10px] 
                        text-2xl leading-[2]"
                type="button">
                {{ 'ADMIN' | t:'pages/role' }}
        </button>

        <button class="w-[200px] h-[200px] 
                    mt-8
                    bg-[rgba(0,0,135,0.2)] hover:bg-blue-600 
                    rounded-[10px] 
                    text-2xl leading-[2]"
                    type="button"
                (click)="backToMode()">
            {{ 'EXIT' | t:'pages/role' }}
        </button>

    </div>

</div>
