<div class="bg-white
        rounded-xl
        w-[500px]
        max-w-[90%]
        p-5
        shadow-[0_5px_25px_rgba(0,0,0,0.25)]
        font-sans">

    <ng-container
        *ngComponentOutlet="data.content">
    </ng-container>

    <div class="mt-5 text-right">

        <button
            type="button"
            class="px-4
            py-2
            rounded-md
            border-0
            cursor-pointer
            text-sm
            ml-2
            bg-green-600
            text-white
            hover:opacity-85"
            (click)="retry()">
            {{ 'RETRY' | t:'popups/retry-popup' }}
        </button>

    </div>

</div>
