<div class="min-h-screen w-full bg-bisque flex flex-col items-center justify-between p-10">
    <div class="max-w-3xl text-center">
        <h2 class="text-3xl font-bold mb-5">
        Select operating mode
        </h2>

        <p class="text-xl leading-relaxed">
        Choose how you want to work with the competition system.
        </p>
    </div>

    <div class="flex gap-20 items-center">
        <button
        type="button"
        disabled
        class="w-[220px] h-[220px] rounded-lg bg-blue-500 text-white text-3xl opacity-50 cursor-not-allowed"
        >LAN

        <span class="block text-sm mt-5">
            Coming soon
        </span>
        </button>

        <button
        type="button"
        class="w-[220px] h-[220px] rounded-lg bg-blue-500 text-white text-3xl hover:scale-105 transition"
        >ONLINE
        </button>
    </div>

    <button
        type="button"
        class="w-[220px] h-[60px] rounded-lg bg-red-600 text-white text-2xl"
        (click)="logout()"
        >LOG OUT
    </button>
</div>