@if (tService.hasScope()('pages/mode')) {
    <div class="min-h-screen w-full 
            bg-bisque flex flex-col 
            items-center justify-between p-10">
        <div class="max-w-3xl text-center">
            <h2 class="text-3xl font-bold mb-5">
                {{ 'TITLE' | t:'pages/mode' }}
            </h2>

            <p class="text-xl leading-relaxed">
                {{ 'MESSAGE' | t:'pages/mode' }}
            </p>
        </div>

        <div class="flex gap-20 items-center">
            <button
            type="button"
            class="w-[220px] h-[220px] 
                rounded-lg bg-blue-500 
                text-white text-3xl 
                hover:scale-105 transition"
            (click)="openLan()"
            >LAN
            </button>

            <button
            type="button"
            class="w-[220px] h-[220px] 
                rounded-lg bg-blue-500 
                text-white text-3xl 
                hover:scale-105 transition"
            (click)="openOnline()"
            >ONLINE
            </button>
        </div>

        <button
            type="button"
            class="w-[220px] h-[60px] 
                rounded-lg bg-red-600 
                text-white text-2xl"
            (click)="logout()"
            >{{ 'LOGOUT' | t:'pages/mode' }}
        </button>
    </div>
} @else {
  <p>Loading...</p>
}