<div class="relative w-full h-screen">

    <video autoplay muted loop playsinline
        class="absolute inset-0 w-full h-full object-cover opacity-50 -z-10">
        <source src="/videos/barVideo.mp4" type="video/mp4">
    </video>

    <div class="w-full h-[85vh] flex justify-center items-center relative overflow-hidden z-[1]">
        <div class="w-[240px] h-[50px] absolute top-0 right-0 z-[3]">
            <button class="w-[50px] mt-[15px] ml-[20px] font-bold" 
                [ngStyle]="{'background-color': tService.lang() === 'en' ? 'rgb(252, 78, 78)' : 'white'}"
                type="button" 
                (click)="setLang('en')"
            >EN</button>
            <button class="w-[50px] mt-[15px] ml-[20px] font-bold" 
                [ngStyle]="{'background-color': tService.lang() === 'uk' ? 'rgb(252, 78, 78)' : 'white'}"
                type="button" 
                (click)="setLang('uk')"
            >UK</button>
            <button class="w-[50px] mt-[15px] ml-[20px] font-bold" 
                [ngStyle]="{'background-color': tService.lang() === 'pl' ? 'rgb(252, 78, 78)' : 'white'}"
                type="button" 
                (click)="setLang('pl')"
            >PL</button>
        </div>

        <div class="w-[44%] h-[460px] relative z-[2] flex flex-col justify-between 
                items-center pt-[100px] pb-[50px]">
            <button class="w-[80%] h-[60px] border border-black text-black text-lg 
                    font-bold bg-[rgba(0,0,135,0.2)] hover:bg-blue-600" 
                type="button" 
                (click)="openInfoPopup(AboutContentComponent)"
            >{{ 'ABOUT' | t:'home' }}</button>
            <button class="w-[80%] h-[60px] border border-black text-black text-lg 
                    font-bold bg-[rgba(0,0,135,0.2)] hover:bg-blue-600" 
                type="button" 
                (click)="openInfoPopup(AboutContentComponent)"
            >{{ 'CLIENTS' | t:'home' }}</button>
            <button class="w-[80%] h-[60px] border border-black text-black text-lg 
                    font-bold bg-[rgba(0,0,135,0.2)] hover:bg-blue-600" 
                type="button" 
                (click)="openInfoPopup(AboutContentComponent)"
            >{{ 'SETUP' | t:'home' }}</button>
        </div>

        <div class="relative z-10">
            <app-login-form></app-login-form>
        </div>

        <div class="w-[44%] h-[460px] relative z-[2] flex flex-col justify-between 
                items-center pt-[100px] pb-[50px]">
            <button class="w-[80%] h-[60px] border border-black text-black text-lg 
                    font-bold bg-[rgba(0,0,135,0.2)] hover:bg-blue-600" 
                type="button" 
                (click)="openInfoPopup(AboutContentComponent)"
            >{{ 'DATA' | t:'home' }}</button>
            <button class="w-[80%] h-[60px] border border-black text-black text-lg 
                    font-bold bg-[rgba(0,0,135,0.2)] hover:bg-blue-600" 
                type="button" 
                (click)="openInfoPopup(AboutContentComponent)"
            >{{ 'RUN' | t:'home' }}</button>
            <button class="w-[80%] h-[60px] border border-black text-black text-lg 
                    font-bold bg-[rgba(0,0,135,0.2)] hover:bg-blue-600" 
                type="button" 
                (click)="openInfoPopup(AboutContentComponent)"
            >{{ 'EXTRAS' | t:'home' }}</button>
        </div>
    </div>

    <div class="text-center">
        <p><b>{{ 'head' | t:'home' }}</b></p>
        <p>{{ 'lineOne' | t:'home' }}</p>
        <p>{{ 'lineTwo' | t:'home' }}</p>
        <p>{{ 'access' | t:'home' }}</p>
    </div>

    <app-popup></app-popup>
</div>