@if (tService.hasScope()('pages/home')) {

<div class="relative w-full h-screen">

    <video autoplay muted loop playsinline preload="auto"
        class="absolute 
            inset-0 
            w-full 
            h-full 
            object-cover 
            opacity-50 
            -z-10">
        <source src="/videos/barVideo.mp4" type="video/mp4">
    </video>

    <div class="w-full 
            h-[85vh] 
            flex 
            justify-center 
            items-center 
            relative 
            overflow-hidden 
            z-[1]">
        <div class="absolute 
                top-0 
                left-0 
                right-0 
                md:left-auto 
                md:right-0 
                w-full 
                md:w-auto 
                flex 
                justify-center 
                md:justify-end 
                [@media(max-height:430px)]:justify-end 
                p-[15px] 
                z-[50]">
            <div class="flex 
                    gap-4 
                    md:mr-5">

                <button class="w-[50px] 
                            mt-[15px] 
                            ml-[20px] 
                            font-bold" 
                        [ngStyle]="{'background-color': tService.lang() === 'en' ? 'rgb(252, 78, 78)' : 'white'}"
                        type="button" 
                        (click)="setLang('en')"
                >EN</button>

                <button class="w-[50px] 
                            mt-[15px] 
                            ml-[20px] 
                            font-bold" 
                        [ngStyle]="{'background-color': tService.lang() === 'uk' ? 'rgb(252, 78, 78)' : 'white'}"
                        type="button" 
                        (click)="setLang('uk')"
                >UK</button>

                <button class="w-[50px] 
                            mt-[15px] 
                            ml-[20px] 
                            font-bold" 
                        [ngStyle]="{'background-color': tService.lang() === 'pl' ? 'rgb(252, 78, 78)' : 'white'}"
                        type="button" 
                        (click)="setLang('pl')"
                >PL</button>

            </div>
        </div>

        <div class="w-[44%] 
                h-[clamp(300px,100vh,460px)] 
                relative 
                z-[2] 
                flex 
                flex-col 
                justify-between 
                items-center 
                pt-[100px] 
                pb-[50px]">

            <button class="w-[80%] 
                        h-[clamp(40px,6vh,70px)]
                        border 
                        border-black 
                        text-black 
                        text-lg 
                        font-bold 
                        bg-[rgba(0,0,135,0.2)] 
                        hover:bg-blue-600" 
                    type="button" 
                    (click)="openInfoPopup(AboutContentComponent)"
            >{{ 'ABOUT' | t:'pages/home' }}</button>

            <button class="w-[80%] 
                        h-[clamp(40px,6vh,70px)]
                        border 
                        border-black 
                        text-black 
                        text-lg 
                        font-bold 
                        bg-[rgba(0,0,135,0.2)] 
                        hover:bg-blue-600" 
                    type="button" 
                    (click)="openInfoPopup(AboutContentComponent)"
            >{{ 'SETUP' | t:'pages/home' }}</button>

            <button class="w-[80%] 
                        h-[clamp(40px,6vh,70px)]
                        border 
                        border-black 
                        text-black 
                        text-lg 
                        font-bold 
                        bg-[rgba(0,0,135,0.2)] 
                        hover:bg-blue-600" 
                    type="button" 
                    (click)="openInfoPopup(AboutContentComponent)"
            >{{ 'DATA' | t:'pages/home' }}</button>
        </div>

    @if (!isMobile) {

        <div class="relative 
                z-10 
                flex 
                flex-col 
                items-center">

            <div class="relative z-10">
                <app-login-form></app-login-form>
            </div>

            <br/><br/><br/>
    
            <button
                class="flex 
                    items-center 
                    gap-3 
                    w-[240px] 
                    h-[75px] 
                    rounded-lg 
                    border 
                    border-black 
                    text-black 
                    text-lg 
                    font-bold 
                    bg-[rgba(0,0,135,0.2)] 
                    hover:bg-blue-600"
                type="button"
                (click)="openAssistant()">

                <img src="/assets/icons/bot.png"
                    class="w-20 
                        h-20 
                        hover:scale-105 
                        transition">

                <span>{{ 'ASSISTANT' | t:'pages/home' }}</span>

            </button> 
        </div>
    
    } @else {

        <div class="relative 
                z-10 
                flex 
                h-full 
                flex-col 
                items-center 
                justify-center">

            <div class="relative z-10">
                <app-login-form></app-login-form>
            </div>

        @if (!isLandscape) {

            <br/>
            <button
                class="flex 
                    items-center 
                    justify-center 
                    gap-3
                    w-[90%] 
                    min-w-[115px] 
                    h-[75px]
                    rounded-lg 
                    border 
                    border-black
                    text-black 
                    text-lg 
                    font-bold
                    bg-[rgba(0,0,135,0.2)]
                    hover:bg-blue-600"
                type="button"
                (click)="openAssistant()">

                <img
                    src="/assets/icons/bot.png"
                    class="w-20 
                        h-20 
                        hover:scale-105 
                        transition">

            </button>
        }

        </div>
    }
        <div class="w-[44%] 
                h-[clamp(300px,100vh,460px)]
                relative 
                z-[2] 
                flex 
                flex-col 
                justify-between
                items-center 
                pt-[100px] 
                pb-[50px]">

            <button class="w-[80%] 
                        h-[clamp(40px,6vh,70px)] 
                        border 
                        border-black 
                        text-black 
                        text-lg 
                        font-bold 
                        bg-[rgba(0,0,135,0.2)] 
                        hover:bg-blue-600" 
                    type="button" 
                    (click)="openInfoPopup(AboutContentComponent)"
            >{{ 'TRY' | t:'pages/home' }}</button>

            <button class="w-[80%] 
                        h-[clamp(40px,6vh,70px)] 
                        border 
                        border-black 
                        text-black 
                        text-lg 
                        font-bold 
                        bg-[rgba(0,0,135,0.2)] 
                        hover:bg-blue-600" 
                    type="button" 
                    (click)="openInfoPopup(AboutContentComponent)"
            >{{ 'UPDATES' | t:'pages/home' }}</button>

            <button class="w-[80%] 
                        h-[clamp(40px,6vh,80px)]
                        border 
                        border-black 
                        text-black 
                        text-lg 
                        font-bold 
                        bg-[rgba(0,0,135,0.2)] 
                        hover:bg-blue-600" 
                    type="button" 
                    (click)="openInfoPopup(AboutContentComponent)"
            >{{ 'EXTRAS' | t:'pages/home' }}</button>
        </div>

    </div>

    <div class="text-center">
        @if (!isLandscape) {
            @if (!isMobile) {
                <p><b>{{ 'head' | t:'pages/home' }}</b></p>
                <p>{{ 'lineOne' | t:'pages/home' }}</p>
                <p>{{ 'lineTwo' | t:'pages/home' }}</p>
                <p>{{ 'access' | t:'pages/home' }}</p>
            } @else {
                <p><b>{{ 'head' | t:'pages/home' }}</b></p>

            }
        }
    </div>

</div>

} @else {
  <p>Loading...</p>
}