@if (tService.hasScope()('popups/about-popup')) {

  <p class="m-0 p-[5px] text-left">{{ 'intro_1'  | t:'popups/about-popup' }}</p>
  <p class="m-0 p-[5px] text-left">{{ 'intro_2'  | t:'popups/about-popup' }}</p>

  <p class="m-0 p-[5px] text-left"><b>{{ 'scenariosTitle' | t:'popups/about-popup' }}</b></p>

  <p class="m-0 p-[5px] text-left">
    💻 <b>{{ 'admin_title' | t:'popups/about-popup' }}</b>
    {{ 'admin_text_1' | t:'popups/about-popup' }}
    {{ 'admin_text_2' | t:'popups/about-popup' }}
  </p>

  <p class="m-0 p-[5px] text-left"><b>{{ 'clientsTitle' | t:'popups/about-popup' }}</b></p>
  <p class="m-0 p-[5px] text-left">{{ 'clientsIntro' | t:'popups/about-popup' }}</p>

  <ul>
    @for (item of items; track item.title) {
      <li class="p-[5px]">
        💻 <b>{{ item.title | t:'popups/about-popup' }}</b> 
              {{ item.text | t:'popups/about-popup' }}
      </li>
    }
  </ul>

  <p class="m-0 p-[5px] text-left">{{ 'footer' | t:'popups/about-popup' }}</p>

} @else {
  <p>Loading...</p>
}
