.autocomplete {
    position: relative;
}

.autocomplete-suggestion {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;

    padding: 0;

    white-space: pre;
    pointer-events: none;

    z-index: 2;
}

.autocomplete-suggestion .typed {
    visibility: hidden;
}

.autocomplete-input {
    position: relative;
    z-index: 1;

    background: white;
}

.custom-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 3px;
  position: relative;
}

.custom-checkbox:checked {
  background-color: #000;
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}