.autocomplete {
    position: relative;
}

.autocomplete-suggestion {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;

    padding: 0;

    white-space: pre;
    pointer-events: none;

    z-index: 2;
}

.autocomplete-suggestion .typed {
    visibility: hidden;
}
/*
.autocomplete-suggestion .rest {
    color: #9ca3af;
}
*/
.autocomplete-input {
    position: relative;
    z-index: 1;

    background: white;
}